<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2009, Google Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<!-- Whenever the version changes here, it must also be changed in
     the strings.xml file -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.tawacentral.roger.secrets"
    android:versionName="2.11"
    android:versionCode="60"
    android:installLocation="auto">
  <!--Secrets supports Android 2.3 (SDK 9) or later only.  The main reasons for
      these restriction are:
      - to properly set the required permissions for the app
      - to handle online backups
      -->
  <uses-sdk />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">
  </uses-permission>
  <permission-group
      android:name="net.tawacentral.roger.secrets.permission_group.SECRETS"
      android:label="@string/app_name"
      android:icon="@drawable/icon"
      android:description="@string/permission_osa_desc"
      android:permissionGroupFlags="personalInfo" />
  <permission
      android:name="net.tawacentral.roger.secrets.permission.SECRETS"
      android:permissionGroup="net.tawacentral.roger.secrets.permission_group.SECRETS"
      android:description="@string/permission_osa_desc"
      android:label="@string/permission_osa_label"
      android:protectionLevel="dangerous" />
  <!-- TODO: Support scoped storage and remove "requestLegacyExternalStorage". -->
  <application android:icon="@drawable/icon"
      android:requestLegacyExternalStorage="true"
      android:theme="@android:style/Theme.DeviceDefault"
      android:label="@string/app_name"
      android:allowBackup="true"
      android:fullBackupOnly="true"
      android:backupAgent=".FileUtils$SecretsBackupAgent">
    <meta-data android:name="com.google.android.backup.api_key"
        android:value="AEdPqrEAAAAIiaTKLQX8KGBYlJtm_orjiPGWqNbppxZwGByuGA" />
    <!-- I set the clearTaskOnLaunch so that when the user restarts
         secrets, they start with the login page.  Without this flag set,
         if the user starts secrets, logs in, presses the HOME button and
         then the BACK button, they go straight to the secrets list
         activity, bypassing login. -->
    <activity android:name=".LoginActivity"
        android:label="@string/app_name"
        android:excludeFromRecents="true"
        android:stateNotNeeded="true"
        android:clearTaskOnLaunch="true"
        android:launchMode="singleTask"
        android:windowSoftInputMode="stateVisible">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <!-- I set the excludeFromRecents flags so that when the device goes
         to sleep or the user changes apps, these two activity do not
         remain on the activity stack, and the user cannot come back to
         them at some later point.  This is to make sure the user always
         goes through the login activity after the device wakes up or the
         user changes to another apps and returns to secrets. -->
    <activity android:name=".SecretsListActivity"
        android:label="@string/list_name"
        android:excludeFromRecents="true"
        android:finishOnTaskLaunch="true"
        android:windowSoftInputMode="adjustResize"
        android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
      </intent-filter>
      <meta-data android:name="android.app.searchable"
          android:resource="@xml/searchable"/>
    </activity>
    <activity android:name=".AccessLogActivity"
        android:label="@string/log_name"
        android:excludeFromRecents="true"
        android:stateNotNeeded="true"
        android:finishOnTaskLaunch="true" />
    <service android:name=".SaveService" />

    <receiver
       android:name=".OnlineAgentManager"
       android:label="OnlineAgentReceiver"
       android:permission="net.tawacentral.roger.secrets.permission.SECRETS">
       <intent-filter>
         <action
             android:name="net.tawacentral.roger.secrets.OSA_ROLLCALL_RESPONSE"/>
         <action
             android:name="net.tawacentral.roger.secrets.SYNC_RESPONSE"/>
       </intent-filter>
    </receiver>

  </application>
</manifest>

